<!DOCTYPE html>

<html style="" class=" js no-touch svg inlinesvg svgclippaths no-ie8compat">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>
		Ability	Foundation</title>
   <link rel="stylesheet" type="text/css" href="./Ability/foundation.css">
   <link rel="stylesheet" type="text/css" href="./Ability/app.css">
   <script type="text/javascript" src="./Ability/foundation.min.js"></script>
   <script type="text/javascript" src="./Ability/app.js"></script></head>

<body>
    <div class="row">
        <div class="twelve columns">
            

            <header id="header">
                <div class="row" style="padding-top: 10px;padding-bottom: 5px;">
                    <div class="twelve columns">
                        <a href="Ability.htm"><img src="./Ability/logo.jpg" alt="event logo"></a>
                    </div>
                </div>


                <ul class="nav-bar" id="navigation">
                    <li style="border-bottom-width: 0px;border-top-width: 0px;border-left-width: 0px;"><a href="Ability.htm"><img src="./Ability/home.png" alt=""></a></li>


                    <li><a href="#">About Us</a></li>

                    <li><a href="employee form.htm">Job Application</a></li>

                    <li><a href="contactus.htm">Contact Us</a></li>
                    <li style="float:right;"><a id="login" href="#">Show Name here</a></li>
                </ul> 
            </header>


            <!--content starts-->
            <div id="content" class="panel mainpanel">
                <div id="middle">
        <div id="midtop">
          <div class="row">
                <div class="large-8 columns">
                    <label class="blackone">POST : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" style="width:300px;" placeholder="Enter post Available">
               </div>   
        </div>

<br/>

          <div class="row">
                <div class="large-8 columns">
                    <span  class="blackone">Location : </span>
                    <select id="customDropdown1" class="medium" style="width:230px;">
                        <option>Select Location</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Hyderabad</option>
                    </select>
               </div>

              </div>


            <br/>  

            <div class="row">  
                </div>

            <br/>
          <div class="row">
                <div class="large-12 columns">
                    <label  class="blackone">Skill Required : &nbsp;</label>
                    <input type="text" style="width:300px;" placeholder="Enter skill Required">
               </div>

              </div>
            <br/>
          <div class="row">
            <span class="blackone">&nbsp;&nbsp;&nbsp;&nbsp;Access Liftes/Ramps : </span>
            <input type="radio" name="lifts" value="yes">Yes</input>
            <input type="radio" name="lifts" value="no">No</input>
              </div>
            <br/>
          <div class="row">
                <div class="large-12 columns">
                    <label class="blackone">Qualfication : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" style="width:300px;" placeholder="Enter Qualification">
               </div>
              </div>    
            <br/>
          <div class="row">
            <span class="blackone">&nbsp;&nbsp;&nbsp;Shift : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="radio" name="shifts" value="night">Night</input>
            <input type="radio" name="shifts" value="day">Day</input>
              </div>
            <br/>
          <div class="row">
                <div class="large-12 columns">
                    <label class="blackone">Experience : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" style="width:300px;" placeholder="Enter Number of years">
               </div>
              </div>
<br/><br/>
    <a href="Ability.htm" class="button success">Submit</a>
        </div>
<div id="midright">


 </div>

    </div>
<br/><br/>
            <!--content ends-->
        </div>

    <div style="text-align:center;font-weight:bold;">
             Cookies Policy | Terms of Use | Privacy Policy | JPMorgan Chase | J.P. Morgan | Join Our Facebook Community! 
    </div>

    </div>
</body>
</html>