<!DOCTYPE html>

<html style="" class=" js no-touch svg inlinesvg svgclippaths no-ie8compat">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>
		Ability	Foundation</title>
   <link rel="stylesheet" type="text/css" href="./Ability/foundation.css">
   <link rel="stylesheet" type="text/css" href="./Ability/app.css">
   <script type="text/javascript" src="./Ability/foundation.min.js"></script>
   <script type="text/javascript" src="./Ability/app.js"></script></head>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){

    $("#login").click(function(){

        $("#showlogin").show();
        $("#main").css({"opacity":"0.2"});
        $("#showlogin").css({"opacity":"1"});
    });
        $("#closelogin").click(function(){

        $("#showlogin").hide();
        $("#main").css({"opacity":"1"});
    });
});
</script>
<body>


    <div class="row" id="main">
        <div class="twelve columns">
            

            <header id="header">
                <div class="row" style="padding-top: 10px;padding-bottom: 5px;">
                    <div class="twelve columns">
                        <a href="Ability.htm"><img src="./Ability/logo.jpg" alt="event logo"></a>
                    </div>
                </div>

                <ul class="nav-bar" id="navigation">
                    <li style="border-bottom-width: 0px;border-top-width: 0px;border-left-width: 0px;"><a href="Ability.htm"><img src="./Ability/home.png" alt=""></a></li>


                    <li><a href="aboutus.htm">About Us</a></li>

                    <li><a href="employee form.htm">Job Application</a></li>

                    <li><a href="contactus.htm">Contact Us</a></li>
                    <li style="float:right;"><a id="login" href="#">Login</a></li>
                </ul>
            </header>

            <!--content starts-->
            <div id="content" class="panel mainpanel">
                <div class="row">
                    <div class="eight columns panel subpanel">
                        <h5>Contact Us</h5>
                        location
<br/>
Registered Office:
<br/>
Ability Foundation,<br/>
27, Fourth Main Road,<br/>
Gandhi Nagar, Chennai - 600 020,<br/>
Tamil Nadu, India<br/><br/>

Administrative Office:<br/>
Ability Foundation, New No.4, Old No.23, Third Cross Street,<br/>
Radhakrishnan Nagar, Thiruvanmiyur<br/>
Chennai - 600 041, India.<br/><br/>

Telephone Numbers:<br/>
91 44 2452 0016<br/><br/>

E-mail:<br/>
Jayshree Raveendran(Founder, Managing Trustee and Honorary Executive Director)<br/>
– j.raveendran@abilityfoundation.org<br/>
C. K. Ranganathan – ability@abilityfoundation.org<br/>
Leela Swamy – ability@abilityfoundation.org<br/>
Dr. M. Thangavelu – ability@abilityfoundation.org <br/>
                    </div>
                    <div class="four columns panel subpanel">
                        <img src="./Ability/Employ.jpg" alt="event logo"></a>
                        <div class="row" style="padding-right: 15px;padding-left: 15px;">
                        </div>
                    </div>
                </div>

                <br>
                
            </div>

            <!--content ends-->
            <div style="text-align:center;font-weight:bold;">
                Copyright@teamno13.codeforgoodchallenge  | JP Morgan Mumbai.
            </div>
        </div>
    </div>

    <div id="showlogin" style="display:none;width:700px;height:500px;background-color:white;border:2px solid black;position:absolute;left:25%;top:15%;border-radius:5%;opacity:1;">
    <span id="closelogin" style="font-size:3em;border-radius:50%;float:right;border:3px solid white;padding:1%;cursor:pointer;background-color:black;color:white;font-weight:bold;">X</span>
    <div style="padding:10%;text-align:center;opacity:1;margin-left:20%;">
    
  <section class="container">
    <div class="login" style="width:400px">
      <h4 style="text-align:left;">Login to Web App</h4>
      <form method="post" action="Application.htm">
        <p><input type="text" name="login" value="" placeholder="Username or Email"  style="width:150px"></p>
        <p><input type="password" name="password" value="" placeholder="Password" style="width:150px"></p>
        <p class="remember_me">
          <label style="text-align:left;">
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit" style="text-align:left;"><input type="submit" name="commit" value="Login"></p>
      </form>
    </div>
  </section>
    </div>

</div>


</body>
</html>